<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>DatabaseConnection</display-name>
    <servlet-name>DatabaseConnection</servlet-name>
    <servlet-class>com.bankapp.util.DatabaseConnection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DatabaseConnection</servlet-name>
    <url-pattern>/DatabaseConnection</url-pattern>
  </servlet-mapping>
  <display-name>Bankapp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Admin</display-name>
    <servlet-name>Admin</servlet-name>
    <servlet-class>com.bankapp.model.Admin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin</servlet-name>
    <url-pattern>/Admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDAO</display-name>
    <servlet-name>AdminDAO</servlet-name>
    <servlet-class>com.bankapp.dao.AdminDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDAO</servlet-name>
    <url-pattern>/AdminDAO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLoginServlet</display-name>
    <servlet-name>AdminLoginServlet</servlet-name>
    <servlet-class>com.bankapp.servlet.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginServlet</servlet-name>
    <url-pattern>/AdminLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerRegistrationServlet</display-name>
    <servlet-name>CustomerRegistrationServlet</servlet-name>
    <servlet-class>com.bankapp.servlet.CustomerRegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerRegistrationServlet</servlet-name>
    <url-pattern>/CustomerRegistrationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerDAO</display-name>
    <servlet-name>CustomerDAO</servlet-name>
    <servlet-class>com.bankapp.dao.CustomerDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerDAO</servlet-name>
    <url-pattern>/CustomerDAO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Customer</display-name>
    <servlet-name>Customer</servlet-name>
    <servlet-class>com.bankapp.model.Customer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Customer</servlet-name>
    <url-pattern>/Customer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PasswordUtils</display-name>
    <servlet-name>PasswordUtils</servlet-name>
    <servlet-class>com.bankapp.util.PasswordUtils</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PasswordUtils</servlet-name>
    <url-pattern>/PasswordUtils</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewCustomersServlet</display-name>
    <servlet-name>ViewCustomersServlet</servlet-name>
    <servlet-class>com.bankapp.servlet.ViewCustomersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewCustomersServlet</servlet-name>
    <url-pattern>/ViewCustomersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerLoginServlet</display-name>
    <servlet-name>CustomerLoginServlet</servlet-name>
    <servlet-class>com.bankapp.servlet.CustomerLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerLoginServlet</servlet-name>
    <url-pattern>/CustomerLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditCustomerServlet</display-name>
    <servlet-name>EditCustomerServlet</servlet-name>
    <servlet-class>com.bankapp.servlet.EditCustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditCustomerServlet</servlet-name>
    <url-pattern>/EditCustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCustomerServlet</display-name>
    <servlet-name>UpdateCustomerServlet</servlet-name>
    <servlet-class>com.bankapp.servlet.UpdateCustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCustomerServlet</servlet-name>
    <url-pattern>/UpdateCustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Transaction</display-name>
    <servlet-name>Transaction</servlet-name>
    <servlet-class>com.bankapp.model.Transaction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Transaction</servlet-name>
    <url-pattern>/Transaction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TransactionDAO</display-name>
    <servlet-name>TransactionDAO</servlet-name>
    <servlet-class>com.bankapp.dao.TransactionDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TransactionDAO</servlet-name>
    <url-pattern>/TransactionDAO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerDashboardServlet</display-name>
    <servlet-name>CustomerDashboardServlet</servlet-name>
    <servlet-class>com.bankapp.servlet.CustomerDashboardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerDashboardServlet</servlet-name>
    <url-pattern>/CustomerDashboardServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DepositServlet</display-name>
    <servlet-name>DepositServlet</servlet-name>
    <servlet-class>com.bankapp.servlet.DepositServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DepositServlet</servlet-name>
    <url-pattern>/DepositServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WithdrawServlet</display-name>
    <servlet-name>WithdrawServlet</servlet-name>
    <servlet-class>com.bankapp.servlet.WithdrawServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WithdrawServlet</servlet-name>
    <url-pattern>/WithdrawServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TransactionHistoryServlet</display-name>
    <servlet-name>TransactionHistoryServlet</servlet-name>
    <servlet-class>com.bankapp.servlet.TransactionHistoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TransactionHistoryServlet</servlet-name>
    <url-pattern>/TransactionHistoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterCustomerServlet</display-name>
    <servlet-name>RegisterCustomerServlet</servlet-name>
    <servlet-class>com.bankapp.servlet.RegisterCustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterCustomerServlet</servlet-name>
    <url-pattern>/RegisterCustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCustomerActionServlet</display-name>
    <servlet-name>DeleteCustomerActionServlet</servlet-name>
    <servlet-class>com.bankapp.servlet.DeleteCustomerActionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCustomerActionServlet</servlet-name>
    <url-pattern>/DeleteCustomerActionServlet</url-pattern>
  </servlet-mapping>
</web-app>